.article-section {
  background: $color--grey-lightest;
  padding: 2rem 1rem;
  transition: 1s;
  @media screen and (min-width: 500px) {
    padding: 2rem;
  }
  @media screen and (min-width: 600px) {
    padding: 3rem;
  }
  @media screen and (min-width: 700px) {
    padding: 4rem;
  }
  @media screen and (min-width: 1100px) {
    &.faq {
      padding: 4rem 0 3rem 0;
    }
  }
  h2 {
    @extend %font-h2;
    font-weight: 800;
    color: $color--blue-muddy;
    padding-bottom: 1rem;
    text-align: center;
  }
  h3 {
    @extend %font-h3;
  }
  p {
    @extend %font-p;
    padding: 1rem 0;
    @media screen and (min-width: 1100px) {
      padding: 2rem 0;
    }
  }
  ul {
    list-style-position: inside;
    padding: 0;
    li {
      @extend %font-p;
      font-weight: 500;
      color: $color--red;
      span {
        color: $color--grey-dark;
      }
    }
  }
  img {
    display: block;
    width: 100%;
  }
  .article-container {
    background: $color--white;
    color: $color--grey-dark;
    margin-top: 2rem;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 600px) {
      padding: 0;
      display: flex;
      &.art2 .index {
        align-self: center;
      }
      .article-image {
        max-width: 50%;
      }
      .article-image--bigger img {
        flex: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &.ordinary {
        justify-items: center;
        align-items: center;
        .article-content {
          padding: 3rem;
        }
      }
    }
    .article-content {
      padding: 2rem;
      button {
        transition: 0.5s;
        background: $color--white;
        color: $color--blue-muddy;
        font-size: 0.75rem;
        border: 1px solid $color--blue-muddy;
        border-radius: 0.5rem;
        padding: 0.4rem 1.2rem;
      }
      @media screen and (min-width: 600px) {
        flex: 1;
        button:hover {
          cursor: pointer;
          color: $color--white;
          background: $color--blue-muddy;
        }
      }
      @media screen and (min-width: 1100px) {
        &.faq {
          padding: 7rem 5rem;
          .p-extra-padding {
            padding-top: 4rem;
          }
        }
      }
    }
    .article-image--smaller {
      padding: 2rem 2rem 0 2rem;
      @media screen and (min-width: 600px) {
        flex: 1;
        padding: 0 0 0 3rem;
      }
      @media screen and (min-width: 1100px) {
        flex: 1;
        padding: 0;
        &.sun-icon {
          display: flex;
        }
      }
      img {
        width: 50%;
        margin: auto;
        @media screen and (min-width: 600px) {
          width: 67%;
        }
        @media screen and (min-width: 700px) {
          width: 50%;
        }
        @media screen and (min-width: 1100px) {
          max-width: 100%;
          &[alt="sun"] {
            width: 100%;
          }
        }
        &.red-planet {
          @media screen and (min-width: 1100px) {
            padding: 0 0 0 3.25rem;
          }
        }
      }
    }
    @media screen and (min-width: 1100px) {
      &.art1 .faq {
        align-self: flex-start;
      }
      margin-top: 0;
      &.ordinary.art3 {
        flex-direction: column;
      }
    }
  }
  @media screen and (min-width: 600px) {
    .heading {
      grid-area: heading;
    }
    .art1 {
      grid-area: art1;
      display: flex;
    }
    .art2 {
      grid-area: art2;
      display: flex;
    }
    .art3 {
      grid-area: art3;
      display: flex;
    }
    .faq.art1 {
      grid-area: faq-art1;
    }
    .faq.art2 {
      grid-area: faq-art2;
    }
    .faq.art3 {
      grid-area: faq-art3;
    }
  }
  @media screen and (min-width: 1100px) {
    & {
      padding: 6rem;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto 1fr 1fr;
      grid-template-areas:
        "heading heading"
        "art1 art3 "
        "art2 art3";
      grid-gap: 3rem;
    }
    &.faq {
      grid-template-columns: 2fr 3fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "heading heading"
        "faq-art1 faq-art2 "
        "faq-art1 faq-art3";
    }
  }
}
