footer {
  background: $color--blue-muddy;
  color: $color--white;
  padding: 3rem;
  text-align: center;
  p {
    color: $color--white;
    font-size: 0.7rem;
    padding-top: 1rem;
  }
  span {
    color: $color--red-pale;
    font-weight: 600;
  }
}
