header {
  min-height: 100vh;
  background-image: linear-gradient(
    rgba(193, 85, 85, 0.5),
    rgba(36, 2, 2, 0.5)
  );
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  .banner-heading {
    z-index: 1;
    color: $color--white;
    padding: 12vh;
    max-width: 50%;
    align-self: flex-start;
    justify-self: center;
    p {
      font-size: 1.2rem;
      font-weight: 600;
      color: $color--pale-blue;
    }
    h1 {
      font-size: 1.6rem;
      border-bottom: 3px solid $color--white;
      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
  .banner-heading-join {
    align-self: flex-end;
    justify-self: flex-start;
  }
  .nav-container {
    transition: 1s;
    z-index: 2;
    color: $color--white;
    background: $color--darker-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .nav--active {
      border-bottom: 2px solid $color--red;
    }
    img {
      max-height: 4rem;
    }
    ul {
      margin: 0 0 1rem 0;
      padding: 0;
      li {
        list-style: none;
        display: inline;
        & + li {
          margin-left: 1rem;
        }
        a {
          transition: 0.2s;
          font-size: 0.9rem;
          font-weight: 600;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

.index__bg {
  background: center / cover url("../../images/page-1/hero-1.jpg") no-repeat;
}
.faq__bg {
  background: center / cover url("../../images/page-2/hero-2.jpg") no-repeat;
}
.join__bg {
  background: center / cover url("../../images/page-3/hero-3.jpg") no-repeat;
}
.index__bg::before,
.faq__bg::before,
.join__bg::before,
.index__bg::after,
.faq__bg::after,
.join__bg::after {
  @extend %basic-ellipse;
}

.index__bg::before,
.faq__bg::before {
  background-image: linear-gradient($color--light-blue, $color--blue);
  clip-path: ellipse(88% 79% at 60% 0%);
}
.index__bg::after,
.faq__bg::after {
  background-image: linear-gradient($color--darkest-blue, $color--blue);
  clip-path: ellipse(87.75% 77.5% at 60% 0%);
}
.join__bg {
  &::before {
    background-image: linear-gradient($color--blue, $color--light-blue);
    clip-path: ellipse(82% 57% at 27% 100%);
  }
  &::after {
    background-image: linear-gradient($color--blue, $color--darkest-blue);
    clip-path: ellipse(81.5% 55% at 27% 100%);
  }
}

@media only screen and (min-width: 600px) {
  header {
    .banner-heading {
      padding: 9vw;
      justify-self: flex-end;
      p {
        font-size: 1.6rem;
        line-height: 2rem;
      }
      h1 {
        font-size: 2.8rem;
        border-bottom: 5px solid $color--white;
      }
    }
    .nav-container {
      flex-direction: row;
      padding: 0.25rem 1rem;
      ul {
        margin: 0;
        .nav--hover:hover {
          cursor: pointer;
          border-bottom: 2px solid $color--orange;
        }
      }
    }
  }

  .index__bg::before,
  .faq__bg::before {
    clip-path: ellipse(68% 72% at 60% 0%);
  }
  .index__bg::after,
  .faq__bg::after {
    clip-path: ellipse(67.75% 70.5% at 60% 0%);
  }

  .join__bg {
    &::before {
      clip-path: ellipse(73% 57% at 27% 100%);
    }
    &::after {
      clip-path: ellipse(72.5% 55% at 27% 100%);
    }
  }
}

@media only screen and (min-width: 700px) {
  header {
    .nav-container {
      padding: 0.25rem 2rem;
    }
    .banner-heading {
      max-height: 25%;
    }
  }
}
