body {
  box-sizing: border-box;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
p,
img,
ul,
li {
  @extend %zero-padding-margin;
}

header {
  min-height: 100vh;
  background-image: linear-gradient(
    rgba(193, 85, 85, 0.5),
    rgba(36, 2, 2, 0.5)
  );
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  .banner-heading {
    z-index: 1;
    padding: 12vh 5vh;
    max-width: 67%;
    align-self: flex-start;
    justify-self: center;
    h1 {
      @extend %font-h1;
    }
    h2 {
      @extend %font-h2;
      font-weight: 600;
      color: $color--blue-pale;
    }
    @media only screen and (min-width: 600px) {
      padding: 12vh;
      max-width: 50%;
      & {
        justify-self: flex-end;
      }
    }
    @media only screen and (min-width: 700px) {
      max-width: 33%;
      & {
        max-height: 25%;
      }
    }
  }
  .banner-heading-join {
    align-self: flex-end;
    justify-self: flex-start;
    @media only screen and (min-width: 700px) {
      max-width: 33%;
      max-height: 45%;
    }
  }
  .nav-container {
    transition: 1s;
    z-index: 2;
    color: $color--white;
    background: $color--blue-darker;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .nav--active {
      border-bottom: 2px solid $color--red;
    }
    img {
      max-height: 3.75rem;
      @media screen and (min-width: 600px) {
        max-height: 4.25rem;
      }
    }
    ul {
      font-family: $font--main-font-family;
      margin: 0 0 1rem 0;
      padding: 0;
      li {
        list-style: none;
        display: inline;
        & + li {
          margin-left: 1rem;
        }
        a {
          transition: 0.2s;
          font-size: 0.9rem;
          font-weight: 600;
          text-decoration: none;
          color: inherit;
        }
      }
    }
    @media screen and (min-width: 600px) {
      & {
        flex-direction: row;
        padding: 0.25rem 1rem;
        ul {
          margin: 0;
          li {
            & + li {
              margin-left: 3rem;
            }
            a {
              font-size: 1rem;
            }
          }
          .nav--hover:hover {
            cursor: pointer;
            border-bottom: 2px solid $color--orange;
          }
        }
      }
    }
    @media screen and (min-width: 700px) {
      & {
        padding: 0.25rem 2rem;
      }
    }
  }
}

.header__ellipse--index,
.header__ellipse--faq {
  background: center / cover url("../images/page-1/hero-1.jpg") no-repeat;
  &::before,
  &::after {
    @extend %basic-ellipse;
  }
  &::before {
    background-image: linear-gradient($color--blue-light, $color--blue);
    clip-path: ellipse(88% 79% at 60% 0%);
  }
  &::after {
    background-image: linear-gradient($color--blue-darkest, $color--blue);
    clip-path: ellipse(87.75% 77.5% at 60% 0%);
  }
  @media only screen and (min-width: 700px) {
    &::before {
      clip-path: ellipse(68% 72% at 60% 0%);
    }
    &::after {
      clip-path: ellipse(67.75% 70.5% at 60% 0%);
    }
  }
}

.header__ellipse--faq {
  background: center / cover url("../images/page-2/hero-2.jpg") no-repeat;
}

.header__ellipse--join {
  background: center / cover url("../images/page-3/hero-3.jpg") no-repeat;
  &::before,
  &::after {
    @extend %basic-ellipse;
  }
  &::before {
    background-image: linear-gradient($color--blue, $color--blue-light);
    clip-path: ellipse(82% 57% at 27% 100%);
  }
  &::after {
    background-image: linear-gradient($color--blue, $color--blue-darkest);
    clip-path: ellipse(81.5% 55% at 27% 100%);
  }
  @media only screen and (min-width: 700px) {
    & {
      &::before {
        clip-path: ellipse(73% 57% at 27% 100%);
      }
      &::after {
        clip-path: ellipse(72.5% 55% at 27% 100%);
      }
    }
  }
}
