.selling-container {
  transition: 1s;
  display: flex;
  flex-direction: column;
  .selling-container--content {
    padding: 3rem 2rem;
    background: $color--white;
    z-index: 1;
    h2 {
      @extend %font-h2;
      font-weight: 800;
      & + p {
        padding-top: 1rem;
      }
    }
    h3 {
      @extend %font-h3;
      & + p {
        padding-top: 1rem;
      }
    }
    p {
      @extend %font-p;
      span {
        color: $color--red;
        font-weight: 600;
      }
    }
    @media only screen and (min-width: 500px) {
      max-width: 50%;
      padding: 3rem;
      align-self: center;
    }
    @media only screen and (min-width: 800px) {
      padding: 4rem;
    }
    @media only screen and (min-width: 1100px) {
      padding: 6rem;
    }
  }
  .selling-container--image {
    &.selling-image-index img {
      @media only screen and (min-width: 500px) {
        height: 100%;
        object-fit: cover;
      }
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .planet-bg {
    background-image: linear-gradient(#072142, #00132c);
    width: 100%;
    min-height: 19rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .image-planet {
      object-fit: contain;
      &.sun {
        width: 4rem;
        @media only screen and (min-width: 1100px) {
          width: 5rem;
          @include animation--rotate(7s);
        }
      }
      &.mars {
        width: 1.75rem;
        z-index: 2;
        @media only screen and (min-width: 1100px) {
          @include animation--orbit(150px, 8s);
          width: 2rem;
        }
      }
      &.earth {
        width: 2.5rem;
        z-index: 1;
        @media only screen and (min-width: 1100px) {
          @include animation--orbit2(80px, 5s);
          width: 3rem;
        }
      }
    }
  }
  @media only screen and (min-width: 500px) {
    flex-direction: row-reverse;
  }
}