.selling-container {
  display: flex;
  flex-direction: column;
  .selling-container--content {
    padding: 3rem 2rem;
    h2,
    span {
      color: $color--red;
    }
    h2 + p {
      padding-top: 1rem;
    }
  }
  .planet-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#072142, #00132c);
    width: 100%;
    min-height: 19rem;
  }
  .selling-container--image {
    img {
      display: block;
      width: 100%;
    }
    .image-planet {
      object-fit: contain;
      &.earth {
        width: 2rem;
      }
      &.sun {
        width: 4rem;
      }
      &.mars {
        width: 1rem;
      }
    }
  }
}

.sun {
  z-index: 3;
  animation: rotate-me 15s infinite linear;
}

.mars {
  @include animation--orbit(6rem, 8s);
  animation-delay: -4s;
}

.earth {
  position: absolute;
  animation: orbit-me 15s infinite linear;
}
@keyframes orbit-me {
  0% {
    transform: rotate(0deg) translateX(4rem) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(4rem) rotate(-360deg);
  }
}
@keyframes rotate-me {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 500px) {
  .selling-container {
    display: flex;
    flex-direction: row-reverse;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .selling-container--content {
      max-width: 50%;
      padding: 3rem 2rem;
      align-self: center;
    }
  }
}

@media only screen and (min-width: 600px) {
  .selling-container {
    p {
      font-size: 1rem;
      line-height: 1.55rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  .selling-container {
    .selling-container--content {
      padding: 4rem;
    }
  }
}
