@mixin small-article($color) {
  background: $color;
}

@mixin animation--orbit($translate, $duration) {
  position: absolute;
  animation: orbit $duration infinite linear;
  @keyframes orbit {
    0% {
      transform: rotate(0deg) translateX($translate) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX($translate) rotate(-360deg);
    }
  }
}
