$font--main-font-family: "Montserrat", sans-serif;

$color--white: #ffffff;
$color--grey-lightest: #f1f1f1;
$color--grey-dark: #323232;
$color--blue-light: rgba(94, 151, 226, 0.9);
$color--blue-pale: #436dac;
$color--blue-muddy: #2c4f80;
$color--blue: rgba(21, 52, 98, 0.9);
$color--blue-darker: #061b38;
$color--blue-darkest: #00132c;
$color--red-pale: #f97c7c;
$color--red: #e32700;
$color--orange: #ff9300;