$font--main-font-family: "Montserrat", sans-serif;
$font--secondary-font-family: "Poppins", sans-serif;

$color--white: #ffffff;
$color--off-white: #f1f1f1;
$color--dark-grey: #323232;
$color--light-blue: rgba(94, 151, 226, 0.9);
$color--pale-blue: #436dac;
$color--muddy-blue: #2c4f80;
$color--blue: rgba(21, 52, 98, 0.9);
$color--darker-blue: #061b38;
$color--darkest-blue: #00132c;
$color--red: #e32700;
$color--orange: #ff9300;

$color--light-grey: #d8d8d8;
$color--grey: #a3a3a3;
$color--yellow: #ffcf02;
$color--dark-orange: #ff6800;
$color--pale-red: #f97c7c;
$color--muddy-red: #c15555;
$color--darkest-red: #240202;
$color--dark-blue: #072142;
