@import "variables", "mixins", "extends", "site-parts/header",
  "site-parts/footer", "site-parts/selling-section",
  "site-parts/article-section","site-parts/form-section";

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: $font--main-font-family;
}

body,
h1,
h2,
h3,
h4,
p,
img,
ul,
li {
  @extend %zero-padding-margin;
}

p {
  @extend %font-mobile-p;
}
