header .banner-heading h1 {
  font-size: 1.6rem;
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

@media only screen and (min-width: 700px) {
  header .banner-heading h1 {
    font-size: 2.8rem;
  }
}

header .banner-heading p, p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #323232;
}

@media only screen and (min-width: 700px) {
  header .banner-heading p, p {
    font-size: 1rem;
    line-height: 1.55rem;
  }
}

body,
h1,
h2,
h3,
h4, p,
img,
ul,
li {
  padding: 0;
  margin: 0;
}

.header__ellipse--index::before, .header__ellipse--index::after,
.header__ellipse--faq::before,
.header__ellipse--faq::after, .header__ellipse--join::before, .header__ellipse--join::after {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  content: "";
}

header {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(193, 85, 85, 0.5)), to(rgba(36, 2, 2, 0.5)));
  background-image: linear-gradient(rgba(193, 85, 85, 0.5), rgba(36, 2, 2, 0.5));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

header .banner-heading {
  z-index: 1;
  padding: 12vh;
  max-width: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: center;
      justify-self: center;
}

header .banner-heading p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #436dac;
}

@media only screen and (min-width: 700px) {
  header .banner-heading {
    padding: 9vw;
    max-height: 25%;
    justify-self: flex-end;
  }
  header .banner-heading p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

header .banner-heading-join {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
}

header .nav-container {
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 2;
  color: #ffffff;
  background: #061b38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-container .nav--active {
  border-bottom: 2px solid #e32700;
}

header .nav-container img {
  max-height: 4rem;
}

header .nav-container ul {
  margin: 0 0 1rem 0;
  padding: 0;
}

header .nav-container ul li {
  list-style: none;
  display: inline;
}

header .nav-container ul li + li {
  margin-left: 1rem;
}

header .nav-container ul li a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 600px) {
  header .nav-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0.25rem 1rem;
  }
  header .nav-container ul {
    margin: 0;
  }
  header .nav-container ul .nav--hover:hover {
    cursor: pointer;
    border-bottom: 2px solid #ff9300;
  }
}

@media screen and (min-width: 700px) {
  header .nav-container {
    padding: 0.25rem 2rem;
  }
}

.header__ellipse--index,
.header__ellipse--faq {
  background: center/cover url("../../images/page-1/hero-1.jpg") no-repeat;
}

.header__ellipse--index::before,
.header__ellipse--faq::before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(94, 151, 226, 0.9)), to(rgba(21, 52, 98, 0.9)));
  background-image: linear-gradient(rgba(94, 151, 226, 0.9), rgba(21, 52, 98, 0.9));
  -webkit-clip-path: ellipse(88% 79% at 60% 0%);
          clip-path: ellipse(88% 79% at 60% 0%);
}

.header__ellipse--index::after,
.header__ellipse--faq::after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00132c), to(rgba(21, 52, 98, 0.9)));
  background-image: linear-gradient(#00132c, rgba(21, 52, 98, 0.9));
  -webkit-clip-path: ellipse(87.75% 77.5% at 60% 0%);
          clip-path: ellipse(87.75% 77.5% at 60% 0%);
}

@media only screen and (min-width: 700px) {
  .header__ellipse--index::before,
  .header__ellipse--faq::before {
    -webkit-clip-path: ellipse(68% 72% at 60% 0%);
            clip-path: ellipse(68% 72% at 60% 0%);
  }
  .header__ellipse--index::after,
  .header__ellipse--faq::after {
    -webkit-clip-path: ellipse(67.75% 70.5% at 60% 0%);
            clip-path: ellipse(67.75% 70.5% at 60% 0%);
  }
}

.header__ellipse--faq {
  background: center/cover url("../../images/page-2/hero-2.jpg") no-repeat;
}

.header__ellipse--join {
  background: center/cover url("../../images/page-3/hero-3.jpg") no-repeat;
}

.header__ellipse--join::before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 52, 98, 0.9)), to(rgba(94, 151, 226, 0.9)));
  background-image: linear-gradient(rgba(21, 52, 98, 0.9), rgba(94, 151, 226, 0.9));
  -webkit-clip-path: ellipse(82% 57% at 27% 100%);
          clip-path: ellipse(82% 57% at 27% 100%);
}

.header__ellipse--join::after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 52, 98, 0.9)), to(#00132c));
  background-image: linear-gradient(rgba(21, 52, 98, 0.9), #00132c);
  -webkit-clip-path: ellipse(81.5% 55% at 27% 100%);
          clip-path: ellipse(81.5% 55% at 27% 100%);
}

@media only screen and (min-width: 700px) {
  .header__ellipse--join::before {
    -webkit-clip-path: ellipse(73% 57% at 27% 100%);
            clip-path: ellipse(73% 57% at 27% 100%);
  }
  .header__ellipse--join::after {
    -webkit-clip-path: ellipse(72.5% 55% at 27% 100%);
            clip-path: ellipse(72.5% 55% at 27% 100%);
  }
}

footer {
  background: #2c4f80;
  color: #ffffff;
  padding: 3rem;
  text-align: center;
}

footer p {
  color: #ffffff;
  font-size: 0.7rem;
  padding-top: 1rem;
}

footer span {
  color: #f97c7c;
  font-weight: 600;
}

.selling-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.selling-container .selling-container--content {
  padding: 3rem 2rem;
}

.selling-container .selling-container--content h2,
.selling-container .selling-container--content span {
  color: #e32700;
}

.selling-container .selling-container--content h2 + p {
  padding-top: 1rem;
}

.selling-container .planet-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#072142), to(#00132c));
  background-image: linear-gradient(#072142, #00132c);
  width: 100%;
  min-height: 19rem;
}

.selling-container .selling-container--image img {
  display: block;
  width: 100%;
}

.selling-container .selling-container--image .image-planet {
  -o-object-fit: contain;
     object-fit: contain;
}

.selling-container .selling-container--image .image-planet.earth {
  width: 2rem;
}

.selling-container .selling-container--image .image-planet.sun {
  width: 4rem;
}

.selling-container .selling-container--image .image-planet.mars {
  width: 1rem;
}

.sun {
  z-index: 3;
  -webkit-animation: rotate-me 15s infinite linear;
          animation: rotate-me 15s infinite linear;
}

.mars {
  position: absolute;
  -webkit-animation: orbit 8s infinite linear;
          animation: orbit 8s infinite linear;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg) translateX(6rem) rotate(0deg);
            transform: rotate(0deg) translateX(6rem) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(6rem) rotate(-360deg);
            transform: rotate(360deg) translateX(6rem) rotate(-360deg);
  }
}

@keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg) translateX(6rem) rotate(0deg);
            transform: rotate(0deg) translateX(6rem) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(6rem) rotate(-360deg);
            transform: rotate(360deg) translateX(6rem) rotate(-360deg);
  }
}

.earth {
  position: absolute;
  -webkit-animation: orbit-me 15s infinite linear;
          animation: orbit-me 15s infinite linear;
}

@-webkit-keyframes orbit-me {
  0% {
    -webkit-transform: rotate(0deg) translateX(4rem) rotate(0deg);
            transform: rotate(0deg) translateX(4rem) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(4rem) rotate(-360deg);
            transform: rotate(360deg) translateX(4rem) rotate(-360deg);
  }
}

@keyframes orbit-me {
  0% {
    -webkit-transform: rotate(0deg) translateX(4rem) rotate(0deg);
            transform: rotate(0deg) translateX(4rem) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(4rem) rotate(-360deg);
            transform: rotate(360deg) translateX(4rem) rotate(-360deg);
  }
}

@-webkit-keyframes rotate-me {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-me {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (min-width: 500px) {
  .selling-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .selling-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .selling-container .selling-container--content {
    max-width: 50%;
    padding: 3rem 2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (min-width: 600px) {
  .selling-container p {
    font-size: 1rem;
    line-height: 1.55rem;
  }
}

@media only screen and (min-width: 800px) {
  .selling-container .selling-container--content {
    padding: 4rem;
  }
}

.article-section {
  background: #f1f1f1;
  padding: 2rem 1rem;
}

.article-section h2 {
  color: #2c4f80;
  text-align: center;
}

.article-section h3 {
  color: #e32700;
}

.article-section p {
  padding: 1rem 0;
}

.article-section .faq p {
  padding: 1rem 0 0 0;
}

.article-section ul {
  list-style-position: inside;
  padding: 1rem 0 0 0;
}

.article-section ul li {
  color: #e32700;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.article-section ul li span {
  color: #323232;
}

.article-section img {
  display: block;
  width: 100%;
}

.article-section .article-container {
  background: #ffffff;
  color: #323232;
  margin-top: 2rem;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.article-section .article-container .article-image--smaller {
  padding: 2rem 2rem 0 2rem;
}

.article-section .article-container .article-image--smaller img {
  width: 50%;
  margin: auto;
}

.article-section .article-container .article-content {
  padding: 2rem;
}

.article-section .article-container .article-content button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ffffff;
  color: #2c4f80;
  font-size: 0.75rem;
  border: 1px solid #2c4f80;
  border-radius: 0.5rem;
  padding: 0.4rem 1.2rem;
}

@media screen and (min-width: 500px) {
  .article-section {
    padding: 2rem;
  }
}

@media screen and (min-width: 600px) {
  .article-section {
    padding: 3rem;
  }
  .article-section p {
    font-size: 1rem;
    line-height: 1.55rem;
  }
  .article-section .article-container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .article-section .article-container.art2 .index {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .article-section .article-container .article-image {
    max-width: 50%;
  }
  .article-section .article-container .article-image--smaller {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 1rem 0 1rem 1rem;
  }
  .article-section .article-container .article-image--smaller img {
    width: 67%;
  }
  .article-section .article-container .article-image--bigger img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article-section .article-container .article-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .article-section .article-container .article-content button:hover {
    cursor: pointer;
    color: #ffffff;
    background: #2c4f80;
  }
  .article-section .article-container.ordinary {
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-section .heading {
    grid-area: heading;
  }
  .article-section .art1 {
    grid-area: art1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .article-section .art2 {
    grid-area: art2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .article-section .art3 {
    grid-area: art3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .article-section .faq.art1 {
    grid-area: faq-art1;
  }
  .article-section .faq.art2 {
    grid-area: faq-art2;
  }
  .article-section .faq.art3 {
    grid-area: faq-art3;
  }
}

@media screen and (min-width: 700px) {
  .article-section {
    padding: 4rem;
  }
  .article-section .article-container .article-image--smaller img {
    width: 50%;
  }
}

@media screen and (min-width: 1100px) {
  .article-section.index,
  .article-section.faq {
    padding: 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas: "heading heading" "art1 art3 " "art2 art3";
    grid-gap: 3rem;
  }
  .article-section.index .article-container,
  .article-section.faq .article-container {
    margin-top: 0;
  }
  .article-section.index .article-container.ordinary.art3,
  .article-section.faq .article-container.ordinary.art3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article-section.index .article-container .article-image--smaller,
  .article-section.faq .article-container .article-image--smaller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .article-section.index .article-container .article-image--smaller img,
  .article-section.faq .article-container .article-image--smaller img {
    max-width: 100%;
  }
  .article-section.index .article-container .article-image--smaller img[alt="sun"],
  .article-section.faq .article-container .article-image--smaller img[alt="sun"] {
    width: 100%;
  }
  .article-section.faq {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "heading heading" "faq-art1 faq-art2 " "faq-art1 faq-art3";
  }
}

.form-section {
  background: #f1f1f1;
  padding: 2rem 1rem;
}

.form-section h2 {
  color: #2c4f80;
  text-align: center;
}

.form-section p {
  padding: 1rem 0;
  text-align: center;
}

.form-section article {
  background: #ffffff;
  padding: 3rem;
  margin-top: 2rem;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.form-section .form-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.form-section .form-container label {
  color: #2c4f80;
}

.form-section input,
.form-section textarea {
  color: #323232;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  border: 1px solid #2c4f80;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.form-section input:focus,
.form-section textarea:focus {
  border: 1px solid #ff9300;
}

.form-section input[type="text"],
.form-section input[type="date"],
.form-section textarea {
  width: 100%;
}

.form-section input[type="submit"] {
  padding: 0.5rem 4rem;
  background: #ffffff;
  color: #2c4f80;
  margin-top: 0.5rem;
}

.form-section textarea {
  height: 50vw;
  max-height: 15rem;
}

@media screen and (min-width: 500px) {
  .form-section {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-section .form-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto 1fr auto;
        grid-template-rows: auto auto auto 1fr auto;
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }
  .form-section .form-container label input {
    margin: 0;
  }
  .form-section .form-container .motivation {
    grid-column: span 2;
  }
  .form-section .form-container .wrap {
    grid-column: span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .form-section {
    padding: 3rem;
  }
  .form-section p {
    font-size: 1rem;
    line-height: 1.55rem;
  }
  .form-section .form-container input[type="submit"]:hover {
    cursor: pointer;
    color: #ffffff;
    background: #2c4f80;
  }
}

@media screen and (min-width: 700px) {
  .form-section {
    padding: 4rem;
  }
}

@media screen and (min-width: 1100px) {
  .form-section {
    padding: 7em;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
/*# sourceMappingURL=style.css.map */